body {
    height: auto;
    width: auto;
    text-align: left;
    background-color: aquamarine;
}

.pant {
    height: 550px;
    width: 850px;
    display: inline-block;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
    font-size: 20px;
    background-color: rgb(238, 98, 98);
    padding-left: 4px;
}

.btn1 {
    text-decoration: none;
    font-size: 25px;
}

.btn {
    text-decoration: none;
    font-size: 25px;
    margin-left: 525px;
}